body {
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: lightgray; /* Background color for the navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Add padding for better spacing */
  color: black;
}

.navbar ul {
  list-style-type: none; /* Remove bullet points from the list */
  margin: 0;
  padding: 0;
  display: flex;
  color: black;
}

.navbar li {
  margin-right: 20px; /* Add margin between list items */
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Add a smooth color transition on hover */
  font-size: 20px;
}

.navbar a:hover {
  color: #f60; /* Change color on hover */
  text-decoration: underline;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  font-size: 1rem;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

h3 {
  padding-left: 40px;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.home div {
  padding-left: 30px;
  padding-right: 30px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.result {
  grid-column: span 4;
  font-size: 25px;
  justify-content: end;
  background-color: rgb(133, 134, 148);
  color: white;
  height: 70px;
  font-weight: 500;
  text-align: end;
  padding-right: 10px;
}

.zero {
  grid-column-start: span 2;
}

.orange {
  background-color: orange;
}

button {
  padding: 10px;
}

.calculator div:not(.result) {
  justify-content: center;
}

.calculator div:not(.result, .orange) {
  background-color: rgb(224, 224, 224);
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}
