.App {
  text-align: center;
}

body {
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.result {
  grid-column: span 4;
  font-size: 3rem;
  justify-content: end;
  background-color: rgb(133, 134, 148);
  color: white;
}

div {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: 1px solid gray;
  padding: 10px;
}

.zero {
  grid-column-start: span 2;
}

.orange {
  background-color: orange;
}

div:hover {
  cursor: pointer;
}

.calculator div:not(.result) {
  justify-content: center;
}

.calculator div:not(.result, .orange) {
  background-color: rgb(224, 224, 224);
}
